* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.white {
    color: white;
}

.grey {
    color: gray;
}

.grey:hover {
    color: white;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
}

.pointer {
    cursor: pointer;
}


/* sidebar */


.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    font-size: small;
    padding: 10px;
    width: 250px;
    flex-shrink: 0;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

.logo {
    width: 100px;
    padding-bottom: 20px
}

.container-svg {
    display: flex;
    align-items: center;
    padding: 5px 0;
    max-height: 35px;
}

.svg {
    width: 25px;
}

.container-lista {
    overflow: hidden;
    flex: 1;
}

.ul {
    margin-top: 15px;
    overflow-y: auto;
}

li {
    padding-bottom: 15px;
    list-style: none;
}

.align {
    display: flex;
    align-items: center;
}

.fa-plus {
    color: black;
    background-color: grey;
    font-size: xx-large;
    margin-right: 10px;
}


/* contenuto a destra */


.container-desta {
    flex-grow: 1;
    overflow: auto;
    max-height: 100%;
    font-size: small;
}

.overflow {
    background-color: #161928;
    padding: 0 20px;
    color: gray;
}

.sub-container {
    max-width: 320px;
}


header {
    background-color: #0C0D0F;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
}

.button {
    padding: 10px;
    border-radius: 200px;
    border: 2px solid white;
}

.button:hover {
    padding: 15px;
}

.nav-bar {
    text-align: center;
    padding: 20px 0;
}

.nav-text {
    padding: 0 5px;
}

h2 {
    padding: 5px 0;
    color: white;
}

.container-brani {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.brani {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6 - 50px / 6);
}

.filter:hover {
    filter: opacity(0.5);
}

.brani-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 2 - 20px / 2);
}

img {
    width: 100%;
}


.autori {
    border-radius: 1000px;
}

h4 {
    padding: 10px 0;
    color: white;
}


/* footer */


footer {
    background-color: #2A2630;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container-canzone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-sinister-footer {
    width: 50px;
    margin-right: 10px;
}

.nome-sinister-footer {
    margin-right: 50px;
}

.top {
    display: flex;
}

.container-play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-buttons {
    gap: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fa-circle-play {
    font-size: xx-large;
}

.fa-circle-play:hover {
    font-size: 35px;
}

.timeline {
    display: flex;
    gap: 20px;
}

.background-linea {
    background-color: grey;
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 300px;
}

.linea {
    height: 10px;
    width: 100px;
    background: lightgray;
    border-radius: 100px;
}

.linea:hover {
    background: lightgreen;
}

.container-destra {
    display: flex;
    gap: 10px;
}

.destra1 {
    width: 50px;
}

.destra2 {
    width: 15px;
}


/* debug */



@media screen and (max-width: 992px) {
    .brani {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 6 - 50px / 6);
    }
}