* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}










/* debug */
.container {
    display: flex;
    width: 100%;
}

.white {
    color: white;
}
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 200px;
}

header {
    background-color: #0C0D0F;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px;
}

.button {
    padding: 10px;
    border-radius: 200px;
    border: 2px solid white;
}

.container-desta {
    flex-grow: 1;
}

.overflow {
    background-color: #161928;
}

footer {
    background-color: #2A2630;
    height: 100px;
    position: fixed;
}