* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}










/* debug */
.container {
    background-color: antiquewhite;
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: black;
    width: 200px;
}

.overflow {
    background-color: darkblue;
    flex-grow: 1;
}

footer {
    background-color: grey;
height: 100px;

}