* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.white {
    color: white;
}

.grey {
    color: gray;
}

.container {
    display: flex;
}

header {
    background-color: #0C0D0F;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px;
}

.button {
    padding: 10px;
    border-radius: 200px;
    border: 2px solid white;
}

.nav-bar {
    text-align: center;
    padding: 20px 0;
}

.nav-text {
    padding: 0 5px;
}





/* debug */

.container-brani {
    display: flex;
    justify-content: space-between;
}

.brani {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 200px;
}


.container-desta {
    flex-grow: 1;
}

.overflow {
    background-color: #161928;
    padding: 0 20px;
}

footer {
    background-color: #2A2630;
    height: 100px;
    position: fixed;
}